body {
  padding: 8px;
  max-width: 700px;
  margin: auto;
}

/* sections */
section {
  margin: 8px;
  padding: 8px;
}
/* borders on sections for development purposes */
/* .start {
  border: 1px solid black;
}
.setup {
  border: 1px solid black;
}
.forecast {
  border: 1px solid black;
} */

header, footer, h1, h2, h3 {
  text-align: center;
}

h1 {
  color: rgb(180, 180, 180);
  font-size: 26px
}

.nav-button {
  background-color: green;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
  box-shadow: 3px 3px lightgrey;
  width: 326px;
  margin: auto;
}

#js-start {
  padding: 20px 0;
}
.js-fetch {
  margin-top: 8px;
}
#js-back {
  margin-bottom: 8px;
}

footer {
  position : absolute;
  left : 0;
  right : 0;
  bottom : 0; 
  background-color: lightgrey;
  font-size: 12px;
  letter-spacing: 4px;
  height : 30px;
  overflow : hidden;
}


/* form */
form {
  display: flex;
  flex-direction: column;
  border: 3px solid grey;
  padding: 25px;
  margin: auto;
  background-color: rgb(240, 240, 240);
}
label {
  font-weight: bold;
}
input[type="reset"] {
  background-color: darkred;
  color: white;
  font-weight: bold;
  padding: 4px;
}
.js-submit {
  background-color: rgb(197, 248, 197);
  font-weight: bold;
  padding: 4px;
}
input[type="date"] {
  margin-bottom: 4px;
}

/* Flex box */
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between ;
}
.blur {
  color: transparent;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.js-itinerary {
  margin: auto;
}
.itinerary-object {
  border: 1px grey solid;
  padding: 4px 12px 4px 4px;
  margin-bottom: 1px;
}
.js-delete {
  background-color: lightpink;
}
h3 {
  margin: 8px 0px;
}
h4 {
  margin: 8 0 0 0;
}





.hide {
  display: none;
}