body {
  padding: 8px;
  max-width: 700px;
  margin: auto;
  /* border: 1px solid black;
  border-radius: 50px; */
}

/* sections */
section {
  margin: 8px;
  padding: 8px;
}
/* borders on sections for development purposes */
/* .start {
  border: 1px solid black;
} */
.setup {
  background-image: url("assets/map.jpg"); 
  background-color: #ffffff; 
  height: 550px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

header, footer, h1, h2, h3 {
  text-align: center;
}

h1 {
  color: rgb(100, 100, 100);
  font-size: 26px
}

.nav-button {
  background-color: green;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
  box-shadow: 3px 3px lightgrey;
  width: 326px;
  margin: auto;
}

#js-start {
  padding: 20px 0;
}
.js-fetch {
  margin-top: 8px;
}
#js-back {
  margin-bottom: 8px;
}

footer {
  position : absolute;
  left : 0;
  right : 0;
  bottom : 0; 
  background-color: lightgrey;
  font-size: 12px;
  letter-spacing: 4px;
  height : 30px;
  overflow : hidden;
}


/* form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid grey;
  padding: 25px;
  margin: auto;
  margin-bottom: 8px;
  background-color: rgb(87, 78, 78);
  opacity: .7;
  filter: contrast(110%);
}
form h3 {
  color: white;
}
.reset {
  background-color: darkred;
  color: white;
  font-weight: bold;
  padding: 4px;
  margin: auto;
}
.js-submit {
  background-color: rgb(197, 248, 197);
  font-weight: bold;
  padding: 4px;
}
input[type="date"] {
  margin-bottom: 4px;
}

/* Flex box */
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}
.blur {
  color: transparent;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.js-itinerary {
  margin: auto;
}

.js-intinerary-title {
  margin-top: 50px;
}

.itinerary-object {
  border: 1px grey solid;
  padding: 8px 12px 8px 12px;
  margin-bottom: 1px;
  border-radius: 8px;
  /* min-width: 250px; */
}
.stop-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stop-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 12px;
}

.x {
  background-color: lightpink;
  margin-right: 12px;
}
h3 {
  margin: 8px 0px;
}
h4 {
  margin: 4px 0px 0px 0px;
}

.forecast {
  background-image: url("assets/clouds-light.jpg"); 
  background-color: #e6f5ff; 
  height: 100px; 
  /* background-position: center;  */
  background-repeat: no-repeat; 
  background-size: cover; 
}

.forecast-pair {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px grey solid; */
  border-radius: 20px;
  margin-bottom: 8px;
  height: 175px;
}
@media only screen and (max-width: 600px) {
  .forecast-pair {
    flex-direction: column-reverse;
    height: auto;
    border: none;
  }
}



.forecast-text {
  /* border: 1px blue solid; */
  padding-right: 25px;
}
.forecast-text ul {
  /* padding-left: 0px; */
}
.forecast-picture {
  /* border: 1px red solid; */
  flex-shrink: 1;
  height: 100%;
  margin: 8px 0px;
}
@media only screen and (max-width: 600px) {
  .forecast-picture {
    height: 125px;
  }
}
.forecast-picture img {
  height: 100%;
  opacity: .6;
  border-radius: 20px;
}

.attribution {
  text-align: center;
  font-size: 12px;
  margin-top: -12px;
  letter-spacing: 2px;
}



.hide {
  display: none;
}