body {
  padding: 8px;
  max-width: 700px;
  margin: auto;
}
/* sections */
section {
  margin: 8px;
  padding: 8px;
}
.start {
  background-color: darkseagreen;
}
.start button {
  padding: 20px 0;
  box-shadow: 2px 2px #888888;
}
.setup {
  border: 1px solid black;
}
.forecast {
  border: 1px solid black;
}

header, footer, h1, h2 {
  text-align: center;
}


/* form */
form {
  display: flex;
  flex-direction: column;
  border: 3px solid grey;
  padding: 25px;
  margin: auto;
  background-color: rgb(240, 240, 240);
}
label {
  font-weight: bold;
}
input[type="reset"] {
  background-color: darkred;
  color: white;
  font-weight: bold;
}
.js-submit {
  background-color: rgb(197, 248, 197);
}
input[type="date"] {
  margin-bottom: 4px;
}

/* Flex box */
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between ;
}
.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.js-itinerary {
  margin: auto;
}
.itinerary-object {
  border: 1px grey solid;
  padding: 4px 12px 4px 4px;
  margin-bottom: 1px;
}
.js-delete {
  background-color: lightpink;
}
h3 {
  text-align: center;
  margin: 0px;
}
.js-fetch {
  background-color: green;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
  margin-top: 8px;
  box-shadow: 3px 3px lightgrey;
}




.hide {
  display: none;
}